# Database
DATABASE_URL=postgresql+psycopg://documind:documind@localhost:5432/documind_db

# API
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=false

# Models
EMBEDDING_MODEL=paraphrase-multilingual-MiniLM-L12-v2
LLM_MODEL=Qwen/Qwen2.5-1.5B-Instruct

# LangFuse (optionnel — laisser vide pour désactiver le tracing)
LANGFUSE_HOST=http://localhost:3002
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
